doctype html
html
    head
        title Hobby Site :)
        link(href='lib/bootstrap/dist/css/bootstrap.css', rel="stylesheet", type="text/css")
        link(href='css/main.css', rel="stylesheet", type="text/css")
    body
        nav.navbar
            .container
                .navbar-header
                    button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
                        span.glyphicon.glyphicon-align-justify(aria-hidden="true")
                        span.sr-only Toggle navigation
                    a.navbar-brand(href='/') My Hobby site</a>
                .collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
                    ul.nav.navbar-right.navbar-nav
                        li.active
                            a(href="#/recipes")
                                | Recipes
                        li#myRecipes
                            a(href='#/myRecipes')
                                | My Recipes
                        li#addRecipe
                            a(href='#/addRecipe')
                                | Add new recipe
        div.container
            .row
                aside.col-md-3.col-sm-12.col-xs-12.aside-wrapper
                    div.col-xs-6.col-sm-6.col-md-12
                        .aside-wrapper_img
                        ul.nav.nav-justified.nav-pills
                            li
                                a(href='#').social-icons.social-icons__fb
                            li
                                a(href='#').social-icons.social-icons__tw
                            li
                                a(href='#').social-icons.social-icons__ins
                            li
                                a(href="#").social-icons.social-icons__plus

                    div.col-xs-6.col-sm-6.col-md-12
                        h1 Filters
                        ul.nav.nav-pills.nav-stacked
                            li
                                a#dessert_filter(href='#',data-value='dessert') Deserts
                            li
                                a#pasta_filter(href='#',data-value='pasta') Pasta
                            li
                                a#chicken_filter(href='#',data-value='chicken') Chicken
                            li
                                a#exotic_filter(href='#',data-value='exotic') Exotic

                        input#search-field.search-field(type="text", placeholder="Search...")
                        a#search-btn.search-btn(href="#")
                block content

    script(src='lib/jquery/dist/jquery.js')
    script(src='lib/bootstrap/dist/js/bootstrap.js')
    script(src='lib/q/q.js')
    script(src='lib/jade/jade.js')
        // tools
    script(src='js/tools/resource.js')
    script(src='js/tools/helpers.js')
    script(src='js/tools/router.js')

    script(src='js/controllers/addNewRecipeController.js')
    script(src='js/controllers/recipesController.js')
    script(src='js/controllers/myRecipesController.js')
    script(src='js/init.js')