h1 Add new recipe to "My recipes"
form#add-form
    input(type="text", name="label",placeholder="Recipe title").edit_value
    input(type="text", name="calories",placeholder="Calories").edit_value
    input(type="text", name="image",placeholder="Image src...").edit_value
    input(type="text", name="description",placeholder="Recipe description").edit_value
    input(type="text", name="timeForPrep",placeholder="Recipe Time for preparation").edit_value
    input(type="text", name="ingredients",placeholder="Ingredients").edit_value
    a.recipe_btns#add-recipe Add New Recipe